/*############### min 900px ###################*/
@media screen and (min-width: 900px) {
  .container-fluid {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    .media {
      width: 10vw;
      height: 100vh;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .media-container {
        width: 3vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 3vh;
      }

      .media-container a {
        color: rgba(255, 255, 255, 0.884);
        font-size: 2vh;
      }
      .media-container a:hover {
        font-size: 3.3vh;
        transition: 0.3s ease-in-out;
        color: rgba(255, 255, 255, 0.884);
      }
    }

    .main {
      width: fit-content;
      height: 100vh;
      display: flex;
      flex-direction: column;

      header {
        width: fit-content;
        height: 10vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .logo {
          width: 12vw;
          height: 6vh;
          font-family: "Amatic SC", cursive;
          font-size: 2.5vw;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .container2 {
        width: 90vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-left: 1px solid white;
        /* border-right: 1px solid white; */

        .background-border {
          width: 85vw;
          height: 90vh;
          background-image: url(../img/7b228d94120889.5e76b49ead998.png);
          border-top-left-radius: 35px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          //     display: flex;
          // flex-direction: row;
          // justify-content: flex-start;
        }
        .content {
          width: 75vw;
          height: 90vh;
          /* margin: 7vh 0 0 8vw; */
          background-color: #2040518c;
          border-top-left-radius: 35px;
          border-top-right-radius: 35px;
          overflow-y: scroll;
          overflow-x: hidden;
          scroll-behavior: smooth;

          &::-webkit-scrollbar {
            width: 0px; /* Remove scrollbar space */
            background: transparent; /* Optional: just make scrollbar invisible */
          }
          /* Optional: show position indicator in red */
          &::-webkit-scrollbar-thumb {
            background: #ef962d;
          }
          /* Photo and Menu */
          .info {
            width: 77vw;
            height: 30vh;
            display: flex;
            justify-content: space-between;

            .photo {
              width: 45vw;
              height: 30vh;
              display: flex;
              align-items: center;

              .photo-container {
                width: 10vw;
                height: 25vh;
                margin-left: 3vw;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
              }

              [alt^="profile"] {
                border-radius: 45%;
              }
            }
            /* Menu */
            .nav-bar {
              width: 12vw;
              height: 30vh;
              display: flex;
              justify-content: center;
              align-items: center;
              position: fixed;
              left: 80vw;
              ul {
                width: 15vw;
                height: 25vh;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                a {
                  text-decoration: none;
                  line-height: 3.5vh;
                  color: rgba(255, 255, 255, 0.884);

                  li {
                    list-style: none;
                    width: auto;
                    line-height: 3.5vh;
                  }

                  &:first-child {
                    color: rgba(255, 255, 255, 0.479);
                  }
                }
              }
            }
          }
          .text {
            width: 75vw;
            height: fit-content;

            .name-title {
              width: 45vw;
              height: 20vh;

              h1 {
                width: 43vw;
                height: 7vh;
                font-size: 3.2vw;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.815);
                /* font-family: 'Neucha', cursive; */
                font-family: "Source Code Pro", monospace;
                text-align: center;
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: 0.15em solid orange; /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                letter-spacing: 0.15em; /* Adjust as needed */
                animation: typing 3.5s steps(30, end),
                  blink-caret 0.75s step-end infinite;
                /* The typing effect */
                @keyframes typing {
                  from {
                    width: 0;
                  }
                  to {
                    width: 100%;
                  }
                }

                /* The typewriter cursor effect */
                @keyframes blink-caret {
                  from,
                  to {
                    border-color: transparent;
                  }
                  50% {
                    border-color: orange;
                  }
                }
              }

              h2 {
                width: 45vw;
                height: 7vh;
                font-size: 1.7vw;
                font-family: "Source Code Pro", monospace;
                text-align: center;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
              }
            }
            /* Content Elements  */
            .elements {
              width: 75vw;
              height: fit-content;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-items: center;
            

            .about-container {
              width: 80vw;
              height: 60vh;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              align-content: center;
            }
            .skills-container,
            .experience-container,
            .contact-container {
              width: 80vw;
              height: 100vh;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              align-content: center;
            }
            .special {
              font-size: 3.5rem;
              color: rgba(255, 255, 255, 0.479);
            }
            .about,
            .skills,
            .experience,
            .contact {
              width: 35vw;
              height: 25vh;
              /* margin-top: 5vh; */
              /* align-self: center; */
              text-align: center;
            }
            /* SKills */
            .content0 {
              width: 35vw;
              height: 25vh;
              display: flex;
              flex-direction: row;
            }
            .content1 {
              width: 25vw;
              height: 25vh;
              /* padding-top: 1.2vh; */
            }

            .content2 ul {
              width: 7vw;
              height: 15vh;
              font-size: 1rem;
              font-weight: 600;
            }
            /* Experience */
            .experience {
              width: 50vw;
              height: auto;
              text-align: center;
            }
            .gallery {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-evenly;
            }
            .card-img1 {
              width: 15vw;
              height: 15vh;
              background-image: url(../img/udemy.png);
              background-position: center;
              background-size: cover;
            }
            .card-img2 {
              width: 15vw;
              height: 15vh;
              background-image: url(../img/periodicTable.png);
              background-position: center;
              background-size: cover;
            }
            .card-img3 {
              width: 15vw;
              height: 15vh;
              background-image: url(../img/youtube.png);
              background-position: center;
              background-size: cover;
            }
            .card-img4 {
              width: 15vw;
              height: 15vh;
              background-image: url(../img/responsive.png);
              background-position: center;
              background-size: cover;
            }
            .card-img5 {
              width: 15vw;
              height: 15vh;
              background-image: url(../img/chess.png);
              background-position: center;
              background-size: cover;
            }
            .card {
              filter: opacity(0.5);
            }
            .card:hover {
              filter: none;
              transition: 0.3s ease-in;
            }
            .card-title {
              margin-top: 1vh;
              font-size: 1.2rem;
            }

            /* SUBMIT */
            .btn-primary:hover {
              color: #fff;
              background-color: #ef962d;
              border-color: #ef962d;
            }

            .btn-primary:focus,
            .btn-primary.focus {
              color: #fff;
              background-color: #ef962d;
              border-color: #ef962d;
              box-shadow: 0 0 0 0.2rem #ef962d;
            }
          }
          /* Go up */
        }
          #button {
            display: inline-block;
            background-color: #ff9800;
            width: 50px;
            height: 50px;
            text-align: center;
            border: none;
            border-radius: 4px;
            position: fixed;
            bottom: 30px;
            right: 30px;
            z-index: 1000;
          }
          #button::after {
            content: "\f077";
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            font-size: 2em;
            line-height: 50px;
            color: #fff;
          }
          #button:hover {
            cursor: pointer;
            background-color: #333;
          }

          .media-mobile,
          .media-container-mobile {
            display: none;
          }
        }
      }
    }
  }
}
