//  Bootstrap CSS 
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./container";
/*###############Default Settings#####################*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #00494d;
  color: rgba(255, 255, 255, 0.884);
  font-family: "Montserrat", sans-serif;
}

